<h1>Editing kitten</h1>
<div id="kittens">
  <div class="kitten">
    <%= render "form", kitten: @kitten %>
    <%= button_to "Destroy this kitten", @kitten, method: :delete %>
  </div>
</div>


<div>
  <%= link_to "Show this kitten", @kitten %> |
  <%= link_to "Back to kittens", kittens_path %>
</div>
